<!DOCTYPE HTML>

{%extends 'home.html'%}
<html>
<center>
<head>
  <title></title>
</head>
<body>
  <h1>Welcome to FREAK Resteraunt</h1>
    {% block content %}
        <h2> Update Information </h2>
    <form action="" method ="post">
      <p> Please enter your email,password, and then enter your old
        and new information as you want it to appear on your account</p>
      <p>
        {{form.email.label}}</br>
        {{form.email(size=30)}}
      </p>
      <p>
        {{form.password.label}}</br>
        {{form.password(size=30)}}
      </p>
      <p>
        {{form.name.label}}</br>
        {{form.name(size=30)}}
      </p>
      <p>
        {{form.creditCardNumber.label}}</br>
        {{form.creditCardNumber(size=30)}}
      </p>
      <p>
        {{form.creditCardExpiration.label}}</br>
        {{form.creditCardExpiration(size=30)}}
      </p>
      <p>
        {{form.cardCVV.label}}</br>
        {{form.cardCVV(size=30)}}
      </p>
      <p>{{form.submit()}}</p>
    </form>
    <a href="http://127.0.0.1:5000/">Log in</a>

    {% endblock %}

</body>
</center>
</html>
